/*
	Orange Color : #e67e22;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

html {
	color: #555;
	font: 300 20px 'Lato', 'Arial', sans-serif;
	text-rendering: optimizeLegibility;
}

/* ----------------------------------- */
/*         REUSABLE COMPONENTS         */
/* ----------------------------------- */


.row {
	max-width: 1140px;
	margin: 0 auto;
}

/* ---------- HEADINGS ----------- */

h1 {
	color: #fff;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 2.4em;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 3px;
}

/* ---------- BUTTONS ----------- */

.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.4s, border 0.4s, color 0.4s;
}


.btn-full:link,
.btn-fill:visited {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}

.btn-trans:link, 
.btn-trans:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.btn:hover,
.btn:active {
	background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
	border: 1px solid #cf6d17;
}

.btn-trans:hover,
.btn-trans:active {
	border: 1px solid #cf6d17;
	color: #fff;
}

/* ---------- HEADER ----------- */

header {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/hero.jpg);
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	width: 100px;
	height: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em;
	border: 2px solid transparent;
	transition: border-bottom 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
}